.pageName {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.pageName::before {
  content: "- ";
}

.pageName::after {
  content: " -";
}

.page {
  margin: 40px;
}

.unregistered {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 80%;
  flex-direction: column;
  color: #929292;
}

.alert p {
  margin: 5px 0;
}
