.listContainer {
  overflow-y: scroll;
}

.list {
  background-color: #f7fdf6;
  border: 1px solid #53989c;
  padding: 25px 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: 550;
}

.date{
  letter-spacing: 2px;
}
